{% extends "baseStudent.html" %}
{% load static %}

{% block imports %}
    <script src="{% static "js/openGuidance.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/openGuidance.css" %}">
{% endblock imports %}

{% block title %}{{ guidance.project_title_format }}{% endblock title %}

{% block mainContent %}
    <div class="container">
        <div class="card mt-4 content-wrapper bg-white">
            <div class="card-header text-center default-blue-bg">
                <!-- Barra divisória azul -->
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="mb-2 font-weight-bold">Título do Projeto:</p>
                        <p class="mb-4 ">{{ guidance.project_title }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="mb-6 font-weight-bold big">
                            {{ guidance.guidance_code }}
                        </p>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-6">
                        <p class="d-flex align-items-center">
                            <span class="font-weight-bold mr-2">Aluno(a):</span> {{ guidance.student }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="d-flex align-items-center">
                            <span class="font-weight-bold mr-2">Orientador(a):</span> {{ guidance.advisor }}
                        </p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <p class="d-flex align-items-center">
                            <span class="font-weight-bold mr-2">Coordenação:</span> {{ guidance.coordination }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="d-flex align-items-center">
                            <span class="font-weight-bold mr-2">Data de Início:</span> {{ guidance.start_date }}
                        </p>
                    </div>
                </div>

                <div class="row mt-4 ">
                    <div class="col-md-6 d-flex ">
                        <button type="button" class="btn btn-sm btn-secondary mr-2" onclick="openFileUploadModal()">
                            Adicionar Arquivo
                        </button>
                
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Versões Anteriores
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for article in articles %}
                                    <a class="dropdown-item" href="{% url "view_pdf" article.id %}">{{ article.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
             
                <hr class="mt-3 mb-3 div-hr">

                <div class="row text-center">
                    <div class="col-md-12">
                        <p class="font-weight-bold">Último Versão:</p>
                        <a href="{% url "view_pdf" articles.last.id %}">
                            <div class="pdf-icon">
                                <i class="fas fa-file-pdf"></i>
                            </div>
                            <p class="article-title">{{ articles.last.title }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-labelledby="fileUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileUploadModalLabel">Escolher Arquivo</h5>
                </div>
                <form method="post" action="{% url 'save_guidance_article' guidance.id %}" enctype="multipart/form-data" id="modalUploadForm">
                    {% csrf_token %}
                    <div class="modal-body text-center">
                        <label for="file-upload-modal" class="btn btn-primary">
                            <input type="text" name="title" id="title-input" hidden>
                            <input id="file-upload-modal" type="file" name="file" style="display:none;" onchange="displayFileNameModal()">
                            Selecionar Arquivo
                        </label>
                        <p id="selectedFileNameModal" class="mt-2"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock mainContent %}
