{% extends "baseLoginRegister.html" %}
{% block content %}
<div class="card-body">
    <div class="row text-center">
        <p class="login-box-msg">Registrar-se</p>
        <div class="">
            <button class="btn btn-secondary" type="button">Aluno</button>
            <button class="btn btn-outline-secondary" type="button">Orientador</button>
            <button class="btn btn-outline-secondary" type="button">Coordenação</button>
        </div>
    </div>
    <form action="{% url "register_student_save" %}" method="POST">{% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nome Completo" name="full_name">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Curso" name="course">
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email Acadêmico" name="email">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Telefone" name="phone_number">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Matrícula" name="enrollment">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Senha" name="password">
        </div>
        <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Acessar</button>
        </div>
    </form>


{% endblock content %}