{% extends "base.html" %}

{% block sidebarMenu %}

<li class="nav-item">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Orientações
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa-solid fa-circle-user"></i>
        <p>
            Perfil
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa-solid fa-gear"></i>
        <p>
            Configurações
        </p>
    </a>
</li>
{% endblock sidebarMenu %}

