<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
</head>

<body clas="hold-transition sidebar-mini">
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="{% url "Home" %}" class="brand-link">
            <span class="brand-text font-weight-light">SmartOrient</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">{{logged_user.full_name}}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Orientações
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-circle-user"></i>
                            <p>
                                Perfil
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa-solid fa-gear"></i>
                            <p>
                                Configurações
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </aside>

    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>

        <form class="form-inline ml-3">
            <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-navbar" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-danger navbar-badge">0</span>
            </li>
            <li class="nav-item">
                <i class="fa-solid fa-arrow-right-from-bracket" alt="Logout"></i>
            </li>
        </ul>
    </nav>

    <div class="d-flex justify-content-end mb-3">
        <button type="button" class="btn btn-sm btn-success text-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-plus mr-1"></i> Cadastrar Orientação
        </button>
    </div>

    <div class="content-wrapper">
        <section class="content">
            <div class="content-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-container overflow-auto" style="max-height: 30rem;">
                            {% for guidance in guidances %}
                            <div class="card mb-4 {% if forloop.first %}first-card{% endif %}">
                                <div class="card-header text-center text-secondary">
                                    <h3 class="card-title">
                                        <span class="font-weight-bold small">{{ guidance.guidance_code }}</span>
                                        <span class="text-muted">&nbsp;&bull;&nbsp;</span>
                                        <span class="small">{{ guidance.project_title }}</span>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-secondary small">
                                        Orientador: {{ guidance.advisor }}
                                    </p>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header text-center text-secondary">
                                    <h3 class="card-title">
                                        <span class="font-weight-bold small">{{ guidance.guidance_code }}</span>
                                        <span class="text-muted">&nbsp;&bull;&nbsp;</span>
                                        <span class="small">{{ guidance.project_title }}</span>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-secondary small">
                                        Orientador: {{ guidance.advisor }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>         
            </div>
        </section>
    </div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cadastrar Orientação</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url "guidance_register_save" %}" method="POST">{% csrf_token %}
                {% comment %} #TODO:TORNAR DINAMICO {% endcomment %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Título do projeto" name="project_title">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Student" name="student">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Advisor" name="advisor">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Coordination" name="coordination">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Salvar</button>
                      </div>
            </form>
        </div>

      </div>
    </div>
  </div>
    
    <!-- /.navbar -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0c0eacc6ba.js" crossorigin="anonymous"></script> 
</body>

</html>