{% extends "base.html" %}

{% block sidebarMenu %}

<li class="nav-item">
    <a href="{% url "Home" %}" class="nav-link  default-blue-bg text-white">
        <i class="nav-icon fas fa-th"></i>
        <p class="font-weight-bold ">
            Home
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa-solid fa-circle-user"></i>
        <p class="font-weight-bold">
            Perfil
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fa-solid fa-gear"></i>
        <p class="font-weight-bold">
            Configurações
        </p>
    </a>
</li>
{% endblock sidebarMenu %}