#canvas {
    display: block;
    margin: 0 auto;
}

#pageNumber {
    display: inline;
}

.previous {
    display: inline;
    background-color: #FFFFFF;
    color: black;
    border-radius: 15%;
}

.next {
    display: inline;
    background-color: #42A047;
    color: white;
    border-radius: 15%;
}

.pdf-container {
    position: relative;
    overflow-y: auto;
    height: 70vh; /* Ajuste a altura conforme necessário */
}

.pdf-pages {
    display: flex;
    flex-direction: column;
}

.pdf-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
