{% extends "baseStudent.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title %}

{% block imports %}
    <link rel="stylesheet" href="{% static "css/testpdfjs.css" %}">
    {% comment %} <script type="module" src="{% static "js/pdfViewer.js" %}"></script> {% endcomment %}
    <script src="/media/pdf.js/build/pdf.js"></script>
{% endblock imports %}

{% block mainContent %}
    <div class="content-wrapper">
        <h6>{{article.title}}</h6>

        <div class="controls">
            <input type="hidden" id="pdfUrl" value="{{ article.file.path }}">
        </div>
       
        <div id="pdfContainer" class="pdf-container">
            <!-- O conteúdo do PDF será renderizado aqui -->
            <div id="pdfPages" class="pdf-pages"></div>
        </div>

        <script src="{% static "js/test.js" %}"></script>
    </div>
{% endblock mainContent %}

