{% extends "baseStudent.html" %}
{% load static %}

{% block title %}{{ article.title }}{% endblock title %}

{% block imports %}
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.189/pdf.min.mjs"></script>
    <script type="module" src="{% static "js/pdfViewer.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.189/pdf_viewer.min.css" integrity="sha512-9uknW5oN7ouvfOCw5wxRC3O9LmGrH3jhuCjcHnAHNvkP4s7Z5X0rWXxHHM0LcyWT/aBIMan/lCJHJtQx8eEAyg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock imports %}

{% block mainContent %}
    <input type="hidden" id="pdf-path" value="{{ article.file.url }}">
    <div class="content-wrapper" id="pdf-viewer"></div>
{% endblock mainContent %}
