{% extends "testPDF.html" %}
{% load static %} 

{% block imports %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="media/pdf.js/build/pdf.js"></script>
{% endblock imports %}

{% block content %}    
<form action="{% url "save-pdf" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="pdf_file" accept=".pdf">
    <button type="submit">Enviar PDF</button>
</form>
{% comment %} Link pdf {% endcomment %}
<a href="{{ pdf_file_url }}" target="_blank">Abrir PDF</a>

<h1>PDF Viewer</h1>

<div class="controls">
    <button id="previous" class="previous">&laquo; Previous</button>
    <p id="pageNumber">Page 1 of 1</p>
    <button id="next" class="next">Next &raquo;</button>
</div>
    <script>
        const pdfUrl = "{{ pdf_file_url }}";
    </script>
    <script src="{% static "js/test.js" %}"></script>

<canvas id="canvas"></canvas>
{% endblock content %}