{% extends "baseLoginRegister.html" %}
{% block content %}
{% load static %}
    <div class="card-body">
        <div class="row text-center mt-3 mb-3">
            <div class="mx-auto">
                <a href="{% url "login_student" %}"><button class="btn btn-secondary" type="button">Aluno</button></a>
                <a href="{% url "login_advisor" %}"><button class="btn btn-outline-secondary" type="button">Orientador</button></a>
                <a href="{% url "login_coordination" %}"><button class="btn btn-outline-secondary" type="button">Coordenação</button></a>
            </div>
        </div>
        <form action="{% url "login_student" %}" method="POST">{% csrf_token %}
            {{error_message}}
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" name="email">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Senha" name="password">
            </div>
            <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block">Acessar</button>
            </div>
        </form>

{% endblock content %}
{% block link_register %}{% url "register_student_page" %}{% endblock link_register %}